body {
  font-family: "DIN Alternate", sans-serif;
  font-size: 16px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .slider-dark::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    left: 4px;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    display: flex;
    background-color: red;
    transition: 0.4s;
  }

  input:checked + .slider-dark {
    background-color: #2196f3;
  }

  input:checked + .slider-dark:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}
